
.DS_Store

.jupyter_cache

__pycache__


# rendered files:
docs/.quarto
docs/_build

# half-way built files:
**/**/*_files/
**/**/*.html
site_libs

# keep includes html files:
!docs/includes/*.html

# pdf generation artifacts:
index.aux
index.log
index.pdf
index.toc
index.tex
